<div class="home-banner">
<h1>Golden Kiwi Cocktails Club</h1>
</div>

<div class="container">
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
        <%=link_to cocktail_path(cocktail) do %>
          <h2><strong><%= cocktail.name %></strong></h2>
        <% end %>
    </div>
  <% end %>
  </div>
</div>


