<nav class="navbar navbar-light bg-light justify-content-between">
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary" type="button"><%= link_to 'Create a cocktail', new_cocktail_path %></button>
  </form>
</nav>
