.home-banner {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  background-image: asset_url('bar_hipster.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  color: #e8d2ae;
  text-align: center;
  padding-top: 350px;
}

h1 {
  font-size: 96px;
}


.dose-banner {
  background-image: asset_url('ingredients.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: #ff1053;
  text-align: left;
  padding-top: 240px;
  padding-left: 40px;
  margin-bottom: 40px;
}

.cocktail-banner {
  background-image: asset_url('cocktail2.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: #ff1053;
  text-align: left;
  padding-top: 240px;
  padding-left: 40px;
  margin-bottom: 40px;
}

